.container
{
    margin-bottom: 1em;
}
.articles-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5.5em;
}


.articles
{
    border-bottom: 16px solid var(--cor-principal-escura);
    font-weight: bold;
    font-size: 26px;
    border-radius: 5px;
}

input
{
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
.search-form-section
{

}

.articles-cards
{
    margin-top: 2em;
    
}

.articles-cards__card
{
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 2em;
}

.articles-cards__img
{
    width: 100%;
}

.articles-cards__text
{

}

.articles-cards__title_author
{
    margin-left: 100px;
}

.pagination 
{
    display: inline-block;
    
}
  
.pagination a 
{
    color: black;
    float: left;
    padding: 8px 14px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.ativo
{
    background-color: var(--cor-principal-escura);
}


@media screen and (min-width: 1024px){
    .search-form-section
    {
        margin-left: 24em;
    }
    .articles-cards__title_author
    {
        margin-left: 570px;
    }
    .articles-cards__img
    {
        float: left;
        margin-right: 30px;
        max-width: 250px;
        min-width: 250px;
        max-height: 170px;
        min-height: 170px;
    }
    .pagination
    {
        margin-left: 20em;
    }
}