.services
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7.5em;
}


.our-services
{
    border-bottom: 16px solid var(--cor-principal-escura);
    font-weight: bold;
    font-size: 26px;
    border-radius: 5px;
}
.services-cards{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.services-cards__card
{
    text-align: center;
    padding: 20px;
    transition: 500ms ease-in-out;
    border: 1px solid rgb(221, 221, 221);
    margin-top: 1em;
    margin-bottom: 1em;
}
.services-cards__card:hover
{
    box-shadow: 3px 3px 10px rgb(189, 189, 189);
    transition: 500ms ease-in-out;
}



.services-cards__icon
{
    transition: 1000ms ease-in-out;
}

.services-cards__icon:hover
{
    transform: rotate(360deg);
    transition: 1000ms ease-in-out;
}

.services-cards__description
{
    
}

@media screen and (min-width: 1024px){
    .services-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }
}